.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
}

.filters-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #C78A54;
}

.dropdown-menus-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dropdown-menu {
    margin: 24px 24px 24px 24px;
    position: relative;
    display: inline-block;
}

.drop-button {
  background-color: transparent;
  color: aliceblue;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.drop-button:hover, .drop-button:focus {
  background-color: transparent;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.price-range-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.price-range-item {
    padding: 4px;
}

.food-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aliceblue;
    margin-top: 12px;
}

.food-item {
    display: flex;
    flex: 1 0 21%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
    margin: 15px;

    transition: all .2s ease-in-out; 
}

.food-item:hover {
    transform: scale(1.1); 
}