.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #6e4525;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.pair {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}