.logo-icon {
    height: 32px;
    width: 32px;
    filter: invert(100%)
}

.food-image {
    height: 256px;
    width: 256px;
}

.social-media-icon {
    height: 24px;
    width: 24px;
    margin-right: 12px;
}
